/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #FF4C68;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


/* Add padding to containers */
.container {
  padding: 20px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
font-family:  "Montserrat";
font-weight: 700;
}

h1{
font-size: 3.5rem;
line-height: 1.5;

}

h2{
  font-size: 3rem;
  line-height: 1.5;
}

h3{
 font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/*container-fluid is a bootstrap class name with responsive features */
.container-fluid{
  padding: 7% 15%;
  overflow: hidden;
  }

.colored-section{
  background-color: #FF4C68;
  color:#fff;
}

/* Headings */
.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
}


/* Downlod buttons */
.download-button{
  margin: 5% 3% 5% 0
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* there has to be a space btw title and class name */

/* title image */
.title-image{
 width: 60%;
 transform: rotate(25deg);
 right:30%;
 position: absolute;

}
