* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: purple;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
font-family:  "Montserrat";
font-weight: 700;
}

h1{
font-size: 3.5rem;
line-height: 1.5;

}

h2{
  font-size: 3rem;
  line-height: 1.5;
}

h3{
 font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/*container-fluid is a bootstrap class name with responsive features */
.container-fluid{
  padding: 7% 15%;
  overflow: hidden;
  }

.colored-section{
  background-color: #FF4C68;
  color:#fff;
}

/* Headings */
.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
}


/* Downlod buttons */
.download-button{
  margin: 5% 3% 5% 0
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* there has to be a space btw title and class name */

/* title image */
.title-image{
 width: 60%;
 transform: rotate(5deg);
 right:30%;
 position: absolute;
 padding-left: 20px;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
