body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
font-family:  "Montserrat";
font-weight: 700;
}

h1{
font-size: 3.5rem;
line-height: 1.5;

}

h2{
  font-size: 3rem;
  line-height: 1.5;
}

h3{
 font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/*container-fluid is a bootstrap class name with responsive features */
.container-fluid{
  padding: 7% 15%;
  overflow: hidden;
  }

.colored-section{
  background-color: #FF4C68;
  color:#fff;
}

.white-section{
  background-color: #fff;
}

/* Headings */
.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
}



/*Navigation Bar*/

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Downlod buttons */
.download-button{
  margin: 5% 3% 5% 0
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* there has to be a space btw title and class name */

/* title image */
.title-image{
 width: 60%;
 transform: rotate(25deg);
 right:30%;
 position: absolute;

}

#features{
  /* padding:7% 15%; */
  color:black;
  position: relative;
  z-index: 1;
}

.feature-box{

  padding: 4.5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* Testimonial section */
#testimonials{
  /* padding:7% 15%; */
  background-color:#ef8172;
}

.testimonial-img{
  width:20%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color:#ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

/* StarAnimal Section */
#star-animal{
  padding:100px;
}

.star-animal-column{
  padding:3% 2%;
}

.star-animal{
  width:30%;
  height: 30%;
  border-radius: 100%;
  margin: 20px;
}

.turn-invisible {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
}


.cta-heading{
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* footer section */

.social-icon{
  margin:20px 10px;
}

@media (max-width:1015px) {
  #title{
  text-align: center;
  }
  .title-image{
    width: 80%;
    position: static;
    transform: rotate(0);
    margin-left: 40px;
  }

}
